# Environment variables
.env

# Virtual environment
.venv/
venv/
ENV/
env/

# Log files
*.log
logs/

# Python egg info
*.egg-info/
*.egg

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db
